* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html {
    height: 150vh;
}
body{
    height: 100%;
    background-color: #272731;
    font-family: "Manrope", sans-serif;
    font-size: 0.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    position: relative;
    margin-top: 25%;
}
.main{
    padding: 45px 25px;
    background-color: #3c3c44;
    height: 440px;
    width: 1075.6px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header{
    height: 348.3px;
    width: 244.9px;
}
.header-img{
    object-fit: cover;
    object-position: center;
    height: 348.3px;
    width: 244.9px;
    border-radius: 15px;
}
article{
    width: 680px;
}
.section{
    height: 400px;
    width: 700px;
    margin-left: 30%;
    margin-top: -25%;
}
section h2{
    font-size: 3.5rem;
    font-weight: bold;
}
.text{
    background: linear-gradient(90deg, #D20AF8, #2D47D9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
section h1{
    color: #48C6E5;
    font-weight: 400;
    font-size: 28px;
}
section  p{
    color: #fff;
    font-size: 28px;
    font-weight: 350;
    line-height: 1.2;
    letter-spacing: 0.25px;
}
hr{
    height: 3px;
    border: none;
    border-radius: 50px;
    margin: 0.8rem 0 0.8rem 0;
    background: linear-gradient(90deg, #4FF3E1, #3B76ED);
    color: linear-gradient(90deg, #4FF3E1, #3B76ED);;
}
footer{
    width: 350px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    overflow: hidden;
}
.profile img{
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.name{
    flex-direction: row;
}
.content{
    width: 1075.6px;
}
.content p{
    font-size: 28px;
    font-weight: 400;
    padding: 20px 10px;
}
.card{
    height: 100px;
    width: 1075.6px;
    background: #2b2d37;
    border-radius: 25px;
    border: none;
    padding: 5px 20px;
    margin-bottom: 20px;
}
.card a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    text-decoration: none;
}
.card img{
    width: 70px;
    margin: 10px;
}
.card p{
    font-size: 28px;
    font-weight: 500;
    color: white;
    font-family: 'Poppins';
    letter-spacing: 1.2;
    padding-left: 50px;
    padding-top: 25px;
}
.card:hover{
    background-color: #383b46;
    transition: 0.3s;
    border-left: 15px solid #4FF3E1;
}
.Title{
    background: linear-gradient(90deg, #4FF3E1, #3B76ED);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.sidebar{
    display: none;
}
@media only screen and (max-width: 520px) {
    html{
        height: 100vh;
    }
    main{
        flex-direction: row;
        width: 400px;
        padding-top: 50px;
    }
    .main{
        padding: 5px 15px;
        background-color: #1D232F;
        height: 533.3px;
        width: 400px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    header{
        height: 220.7px;
        width: 372.4px;
        left: 0px;
    }
    .header-img{
        height: 220.7px;
        width: 372.4px;
        border-radius: 15px;
    }
    article{
        width: 400px;
        height: unset;
        padding: 0px 12px;
    }
    section h2{
        font-size: 44px;
    }
    hr{
        width: 350px;
        margin: 5px 0 15px 0;
    }
    section h1, section p{
        font-size: 22px;
        line-height: 1.1;
    }
    .card img{
        width: 56.3px;
    }
    .content{
        display: none;
    }
    .sidebar{
        display: block;
        position: fixed;
        left: -400px;
        height: 100vh;
        background-color: black;
    }
    .button{
        height: 60px;
        width: 60px;
        position: fixed;
        bottom: 25px;
        right: 25px;
        background-color: cyan;
        border-radius: 50px;
        border: none;
        
    }
    header{
        height: 200px;
        background-color: #1D232F;
        padding-top: 3px;
        user-select: none;
        text-decoration: none;
        list-style: none;
    }
    .sidebar header p{
        font-size: 28px;
        font-weight: 500;
        color: white;
        margin: 0 30px 0 30px;
    }
    header hr{
        width: 320px;
        margin-left: 25px;
    }
    li{
        height: 80px;
        width: 340px;
        background: #2b2d37;
        border-radius: 15px;
        border: none;
        padding: 5px 20px;
        margin: 15px 15px 20px 15px;
    }
    li a{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: hidden;
        text-decoration: none;
    }
    li a img{
        width: 60px;
    }
    input{
        display: ;
        height: 60px;
        width: 60px;
    }
    .button:checked ~ .sidebar{
        display: none;
        left: 0px;
        transition: 0.5s;
    }
}